* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f5f7 !important;
}

section {
    padding-bottom: 30px;
}


/* ---------------- header top -------------------- */

.header-top {
    height: 88px;
    background: rgb(254, 0, 0);
}

.header-top .logo {
    padding: 23px 0px;
}

.header-top .search-box {
    padding: 24px 0px;
}

.search-box input {
    height: 40px;
    color: rgb(155, 155, 155);
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 90%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 10px;
}

.search-box button {
    background-color: rgb(255, 168, 0);
    height: 40px;
    width: 56px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    outline: none;
}

.search-box button i {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.hotline {
    padding: 19px 0px;
}

.hotline a {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}

.hotline .icon {
    position: relative;
    height: 24px;
    width: 29px;
}

.hotline a:hover {
    color: #fff;
    text-decoration: none;
}

.hotline a p {
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.hotline a p span:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.hotline a p span {
    display: block;
}


/* ----------------- header bottom ------------------ */

.header-bottom .category>h3 {
    background-color: rgb(65, 59, 73);
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 14px 0px;
    margin: 0px;
}

.category>h3:hover {
    cursor: pointer;
}

.category>h3 i {
    padding: 0px 12px;
}

.category ul {
    list-style: none;
    background: #fff;
}

.category>ul>li {
    height: 32px;
    display: -webkit-flex;
    align-items: center;
    border-top: 1px solid rgb(220, 222, 227);
    margin: 0px 5px;
    padding: 29px 0px;
}

.category ul li:hover {
    cursor: pointer;
}

.category .sub-menu .container {
    width: 100%;
}

.category ul li:hover .sub-menu {
    display: block;
}

.category .sub-menu {
    display: none;
    overflow: auto;
    width: 500px;
    height: 352px;
    position: absolute;
    left: 277px;
    top: 45px;
    z-index: 999;
    background: #fff;
    border-left: 1px solid #f3f5f7;
    box-shadow: 2px 2px 6px 0 rgba(17, 29, 43, .24);
}

.category .sub-menu h3 {
    font-weight: 600;
    font-size: 14px;
}

.category .sub-menu ul li {
    padding: 4px 0;
}

.category .sub-menu ul li a {
    padding: 0;
}

.category>ul>li a {
    font-size: 13px;
    color: rgb(63, 63, 63);
    text-decoration: none;
    padding: 0px 10px;
    width: 100%;
}

.category a:hover {
    color: #f86666;
    text-decoration: none;
}

.menu-service {
    overflow: hidden;
    text-decoration: none;
    background: #fff;
}

.header-bottom .menu-service ul {
    float: left;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.menu-service ul li {
    float: left;
    padding: 11px 0px;
}

.menu-service ul li a {
    font-size: 16px;
    color: rgb(63, 63, 63);
    text-align: center;
    text-decoration: none;
    padding: 0px 20px;
    border-right: 2px solid rgb(223, 223, 223);
}

.menu-service ul li:last-child a {
    border-right: none;
    padding-right: 0;
}

.slideshow {
    margin-top: 10px;
}


/* ------------------ top products------------------------- */

.top-product-title {
    position: relative;
}

.top-product-title h1 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    left: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0px;
}

#top-products .info-product-top {
    overflow: hidden;
    border: 2px solid #018c75;
    background: #fff;
}

#top-products .info-product-top .item {
    padding: 10px;
    border-right: 1px solid #ddd;
}

.owl-theme .owl-controls .owl-buttons div {
    font-size: 30px;
    position: absolute;
    top: 40%;
}

.owl-theme .owl-controls .owl-buttons div i {
    color: #fff;
    background: rgba(63, 63, 63, .5);
    width: 32px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-theme .owl-controls .owl-buttons .owl-prev i {
    border-radius: 0 4px 4px 0;
}

.owl-theme .owl-controls .owl-buttons .owl-next i {
    border-radius: 4px 0 0 4px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
}

.info-product-top .item,
.info-product .item {
    position: relative;
    height: 400px;
    text-align: center;
}

.info-product-top .item a,
.info-product .item a {
    display: block;
    position: relative;
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.info-product-top .item .position-top-right,
.info-product .item .position-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.info-product-top .item .desc-product,
.info-product .item .desc-product {
    text-align: left;
}

.desc-product p.name {
    margin-top: 15px;
    height: 40px;
}

.desc-product p.price {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
}

.desc-product p.price-custom {
    width: 80px;
    height: 22px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: rgb(255, 214, 0);
    border-radius: 4px;
}

.desc-product p.promotion {
    color: rgb(31, 179, 73);
    font-size: 14px;
    margin-top: 15px;
}


/* --------------- new product and other products ------------------- */

.product-title {
    overflow: hidden;
}

.product-title h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 10px 0px 10px 15px;
    float: left;
}

.product-title a {
    float: right;
    margin-right: 15px;
    text-decoration: none;
    padding: 5px 10px;
    background: red;
    border-radius: 50px;
    color: #fff;
    margin-top: 10px;
}

.product-title a:hover {
    text-decoration: none;
}

.product-title h2::before {
    content: "";
    width: 12px;
    height: 30px;
    display: inline-flex;
    line-height: 29px;
    vertical-align: middle;
    margin-right: 15px;
    background: red;
}

.banner-product {
    margin-bottom: 15px;
}

.banner-product img {
    width: 100%;
    border-radius: 4px;
}

.banner-product .item {
    padding: 0 15px;
}

.banner-product .owl-controls .owl-buttons .owl-prev {
    padding-left: 15px !important;
}

.banner-product .owl-controls .owl-buttons .owl-next {
    padding-right: 15px !important;
}

#new-product .info-product,
#tivi-tulanh .info-product,
#kythuatso .info-product,
#diennuoc .info-product {
    height: auto !important;
    border: none;
}

#new-product .info-product .item,
#tivi-tulanh .info-product .item,
#kythuatso .info-product .item,
#diennuoc .info-product .item {
    padding: 10px;
    margin: 0 10px;
    background: #fff;
    border-radius: 4px;
}

#new-product .info-product .item:hover,
#tivi-tulanh .info-product .item:hover,
#kythuatso .info-product .item:hover,
#diennuoc .info-product .item:hover {
    margin-top: -5px;
    -webkit-transition: margin-top .2s ease-out;
    transition: margin-top .2s ease-out;
}


/* -------------------- footer ---------------------- */

.info-footer {
    padding: 30px 20px;
    background: #fff;
    border-radius: 4px;
}

footer ul {
    list-style: none;
}

footer ul li.title {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    display: block;
    margin: 0px 0px 12px;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: none;
    color: #0076ff;
}

footer ul.contact-us li:not(.title) {
    display: inline;
}

footer ul li a i.fa-facebook-official {
    color: rgb(0, 0, 238);
    margin-right: 10px;
}

footer ul li a i.fa-youtube-play {
    color: rgb(240, 17, 17);
}


/* ---------------- icon -------------- */

.category a i {
    margin-right: 10px;
}

.fa-chevron-right {
    /* margin-left: 130px; */
    margin-right: 0;
}

i.right-chevron::before {
    content: url("image/play.png");
}

i.fridge::before {
    content: url("image/fridge.png");
}

i.boiler::before {
    content: url("image/boiler.png");
}

i.camera::before {
    content: url("image/cctv.png");
}

.menu-service a i {
    margin-right: 10px;
}

i.guarantee::before {
    content: url("image/patent.png");
}

i.sale::before {
    content: url("image/gift.png");
}

i.trial-free::before {
    content: url("image/free.png");
}

i.return::before {
    content: url("image/return.png");
}

@media (min-width: 992px) and (max-width: 1199px) {
    .menu-service ul li a {
        font-size: 14px;
        padding: 0 10px;
    }
    .category ul li .sub-menu {
        left: 228px;
    }
}

.top-product-title img {
    width: 100%;
}

@media (min-width: 768px) {
    .top-product-title img {
        width: 50%;
    }
}

@media (max-width: 991px) {
    .nav-menu {
        display: none;
        /* width: 30%; */
    }
    .nav-menu.active {
        display: block;
    }
    .sub-menu {
        left: 235px !important;
    }
    .menu-service ul li a {
        font-size: 14px;
        padding: 0 14px;
    }
}

@media (max-width: 767px) {
    .header-top .col-xs-12 {
        position: absolute;
        top: 60px;
    }
    .header-top {
        height: 150px;
    }
    .search-box button {
        right: 35px;
    }
    .category .sub-menu {
        width: 400px;
    }
}

@media (max-width: 991px) {
    .top-product-title h1 {
        top: 42%;
        font-size: 22px;
    }
}

@media (max-width: 568px) {
    .category .sub-menu {
        width: 380px;
        left: 180px !important;
    }
}

@media (max-width: 499px) {
    .hotline {
        display: none;
    }
}

@media (max-width: 414px) {
    .category .sub-menu {
        width: 250px;
        left: 150px !important;
    }
}

@media (max-width: 375px) {
    .category .sub-menu {
        width: 250px;
        left: 120px !important;
    }
}

@media (max-width: 320px) {
    .category .sub-menu {
        width: 210px;
        left: 105px !important;
    }
}


/* ----------------- page category ------------------ */

body.page-category .category .nav-menu {
    display: none;
}

body.page-category .category:hover .nav-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
}

body.page-category .category {
    position: relative;
}

body.page-category .category .nav-menu .sub-menu {
    top: 0;
    left: 262px;
}

.breadcrumb {
    background: #fff !important;
    padding: 15px !important;
    margin-bottom: 10px !important;
}

.description {
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}

body.page-category .description h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 0 24px 0;
}

.banner {
    background: #fff;
    border-radius: 4px;
}

.widget {
    overflow: hidden;
    border-bottom: 2px solid #f3f3f3;
    padding: 10px 5px;
}

.widget:last-child {
    border: none;
}

.widget h4 {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 16px 0;
}

.widget ul {
    list-style: none;
}

.widget ul li {
    cursor: pointer;
    width: 50%;
    float: left;
    margin: 0 0 10px 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
}

.widget ul li a {
    text-decoration: none;
    color: #0071ff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.widget ul li a img,
.widget ul li a p {
    padding-left: 8px;
    margin: 0;
}

.widget-item h2 {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.widget-item p {
    color: #a6a6a6;
    font-size: 14px;
}


/* ------------------- page category main content ----------------- */

input {
    margin: 0 !important;
}

.sort-cat {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 4px;
}

.sort-cat h3 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 0;
}

.sort-cat ul {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin: 0;
}

.sort-cat ul li {
    float: left;
    display: block;
    padding-left: 20px;
}

.sort-cat ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.sort-cat ul li a p {
    margin: 0;
    padding-left: 5px;
}

.product-cat [class^="col-"] {
    padding: 0;
}

.product-cat .item {
    margin: 5px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

.product-cat .item:hover {
    margin-top: 0;
    -webkit-transition: margin-top .2s ease-out;
    transition: margin-top .2s ease-out;
}

.content nav {
    text-align: center;
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
}

.content .pagination {
    margin: 10px 0 !important;
}

.content .pagination a {
    border: none !important;
    border-radius: 4px !important;
    margin: 0 10px;
}


/* ----------------------------- */

.product-info {
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    margin: 0 15px;
    padding-bottom: 20px;
}

.simple-gallery {
    display: block;
    padding: 40px 0;
}

.maxi {
    width: 100%;
    max-height: 450px;
    display: block;
}

.mini {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mini ul {
    list-style: none;
}

.mini ul li {
    float: left;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 4px;
}

.mini img {
    width: 76px;
    height: 56px;
    cursor: pointer;
}

.mini img:nth-of-type(4) {
    margin-right: 0px;
}

.product-info-desc h2 {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.product-info-desc ul {
    width: 100%;
    list-style: inside;
    display: flex;
    flex-wrap: wrap;
}

.product-info-desc ul li {
    width: calc(50% - 20px);
    margin-left: 20px;
    text-indent: -10px;
    font-size: 14px;
}

.product-desc-top {
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.pro-breadcrumb .breadcrumb {
    padding-left: 0 !important;
}

.breadcrumb li {
    font-size: 12px;
}

.breadcrumb li a {
    color: #7a7d8d;
    text-decoration: none;
}

.product-name h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #191919;
    font-size: 16px;
    margin-top: 0;
}

.pro-btn-share i {
    margin-right: 10px;
}

.pro-btn-share a {
    text-decoration: none !important;
    padding: 3px 10px;
    border-radius: 3px;
    background: #1877f2;
    color: #fff;
}

.pro-btn-share a:hover {
    color: #fff;
}

.product-price span {
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: #3f3f3f;
}

.product-price small {
    padding: 5px;
    background: #fed835;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-service {
    margin: 20px 0;
}

.buynow,
.tragop {
    width: calc(50% - 5px);
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.buynow {
    background: #e73435;
    color: #fff;
}

.tragop {
    background: #fed835;
    margin-left: 5px;
}

.buynow h3,
.tragop h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 4px 0;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.buynow p,
.tragop p {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
}

.product-gift {
    margin-top: 10px;
}

.product-gift h2 {
    background-color: #ededed;
    color: #191919;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    line-height: 18px;
    margin: 0;
}

.product-gift h2 a {
    text-decoration: none;
    color: #f86666;
}

.product-gift ul {
    list-style: none;
}

.product-gift ul li {
    margin: 15px 0;
}

.product-gift ul li:first-child {
    color: #008000;
    font-size: 14pt
}

.product-gift ul li a {
    font-size: 14px;
}

.product-gift ul li label {
    display: block;
    font-weight: 100;
    margin: 10px 25px;
}

.product-gift ul li p {
    background: #fadf80;
    border-radius: 4px;
    padding: 8px 16px;
    color: #3f3f3f;
    margin: 8px 0;
}

i.gift-green::before {
    content: url("image/gift-green.png");
    margin-right: 10px;
}

.thongso {
    background: #fff;
    border-radius: 4px;
}

.product-parameter {
    overflow: hidden;
    margin: 0 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ededed;
}

.video-info h3,
.product-feature h3 {
    text-align: center;
    font-size: 36px;
    padding: 25px 0;
}

.parameter-table table {
    width: 100%;
}

.parameter-table table caption {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    color: #000;
}

.parameter-table table td {
    padding-top: 20px;
}

.parameter-table table td.title {
    width: 40%;
    color: #7a7d8d;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
}

.parameter-table table td.value {
    width: 60%;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 24px;
}

.parameter-table a {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #191919;
    text-align: center;
    color: #191919;
    text-decoration: none !important;
}

.parameter-table a:hover {
    border: 1px solid #0a5bff;
    color: #0a5bff;
}

.product-feature article {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #191919;
    line-height: 1.5;
}

.product-feature img {
    margin: 20px 0;
}